/cache/*
/compiled/*
/databases/*
/errors/*
/models/000_config.py
/sessions/*
/uploads/*
/static/cache/*
.DS_Store
/languages/*.po
.~lock.*.csv#
*.log
*.pyc
*.~*~
.directory
.pythonhistory
.idea
.sass-cache
/yaml/*
